@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .textMore {
    position: relative;
    overflow: hidden;
    max-height: 20px; /* set this to the height your first row would be */
    transition: max-height  .5s ease-in-out; /* the duration of the transition */
    
    }
    .textMore:after {
    content: "...";
    position: absolute;
    top: 0;
    right: 20px;
    height: 1.5em; /* positioning it in line with the text - hacky */
    /* padding: 0 0.2em; */
    transition: all 0s 0.5s ease-in-out; /* will delay the appearance of the '...' until the expanding transition has finished */
    }
    .btnActiveOrder{
        @apply bg-highlight text-white;
    }
    

}